* {
	box-sizing: border-box;
}

body,
div,
a,
h1,
h2,
h3,
label {
	margin: 0;
	padding: 0;
}

body {
	--dark-purple: #0e020f;
	--light-purple: #9b67a6;

	display: flex;
	flex-direction: column;
	overflow: hidden;

	margin: auto;
	font-family: Montserrat;
	font-style: italic;
}

/*<<<-------------SNOW POINTER------------->>>*/
span {
	background: url(images/snowflake.png);
	background-size: cover;
	pointer-events: none;
	position: absolute;

	animation: flakes 2s linear forwards;
}

@keyframes flakes {
	0% {
		opacity: 1;
		transition: filter 1s;
	}
	100% {
		transform: translate(50%, 1000%) rotate(90deg);
		opacity: 0;
	}
}

/*<<<-------------SNOW CANVAS------------->>>*/
#snow_canvas {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;

	background-image: linear-gradient(
		var(--dark-purple) 90%,
		rgb(186, 182, 218)
	);
}

/*<<<-------------DRAGON------------->>>*/
.dragon_container {
	top: 0;
	left: 0;
	position: absolute;
	z-index: 100;

	filter: drop-shadow(3px 6px 10px var(--light-purple));
}

.dragon_part {
	width: 200px;
	height: 200px;

	filter: blur(0.4px);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.dragon_body {
	filter: blur(0.6px);

	position: relative;
	z-index: 200;
	background-image: url(images/dragon/dragon_body.png);
}

.dragon_wing {
	position: absolute;
}

.left_wing {
	background-image: url(images/dragon/left_wing.png);
	top: -10px;
}

.right_wing {
	background-image: url(images/dragon/right_wing.png);
	bottom: 30px;
	left: -22px;
}

@keyframes flapLeft {
	20% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes flapRight {
	20% {
		transform: rotate(6deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/*<<<-------------GALLERY------------->>>*/
.gallery_container {
	user-select: none;
	display: flex;
	align-items: c;
	width: 80%;
	height: 50dvh;

	margin: 50px auto;
	padding: 20px;
	gap: 5px;

	filter: drop-shadow(0 0 3px var(--light-purple));
}

.gallery-img {
	width: 0;
	flex-grow: 1;
	object-fit: cover;

	opacity: 0.7;
	border-radius: 10px;

	filter: grayscale(100) blur(0.6px);
	transition: width 1.1s ease-out, height 0.8s ease-out, filter 0.8s ease, opacity 0.5s ease;
}

.gallery-img:hover,
.gallery-img:active {
	width: 300px;
	opacity: 0.9;

	object-fit: contain;
	cursor: pointer;
	filter: grayscale(0) blur(0);
}

/*<<<-------------FOOTER CARD------------->>>*/
.card_container {
	user-select: none;
	padding: 0 150px;
	margin-bottom: 70px;
	text-align: center;

	color: var(--light-purple);
}

/*<<<-------------MEDIA QUERIES------------->>>*/
@media screen and (max-width: 900px) {
	body {
		overflow-y: scroll;
	}
}
@media screen and (max-width: 650px) {
	* {
		box-sizing: border-box;
	}

	body, #snow_canvas {
		width: 100dvw;
		box-sizing: border-box;
	}

	body {
		overflow-x: hidden;
		display: flex;
		flex-direction: column;
		margin: auto;
	}

	.gallery_container {
		flex-direction: column;
		height: 80dvh;
		width: 70dvw;
	}

	.gallery-img {
		height: 15%;
		width: 100%;

		margin: auto;
	}

	.gallery-img:hover,
	.gallery-img:active {
		height: 50%;
		width: 90%
	}

	.card_container {
		position: relative;
		margin: 6dvh auto 20dvh auto;
		padding: 0 80px;
		top: 90px;

		transition: transform 1s;
	}

	.gallery_container:hover ~ .card_container {
		transform: translateY(280px)
	}

	.gallery_container:active ~ .card_container {
		transform: translateY(280px)
	}
}
